.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
profile
*.moved-aside
DerivedData
.idea/
Pods
Rollout-ios-SDK/.cache
Rollout-ios-SDK/.structures
MXLBuild-ios.xcworkspace/xcuserdata/
MXLBuild-ios/MXLTemplate/Resources/UI/MXLTemplateImages.xcassets/TemplateAppIcon.appiconset/*.png

# Fastlane / build automation
fastlane/report.xml
fastlane/*.html
*.mobileprovision
*.pem
*.p12
*.ipa
fastlane/Error*.png
Error*.png
plist_automator/*.png
MXLBuild-ios/MXLTemplate/Resources/UI/MXLTemplateImages.xcassets/TemplateAppIcon.appiconset/*.png
